<% include ../partials/head %>

    <main>
        <section id="statistics" class="box box-internal box-statistics">
            <div class="valign-wrapper">
                <div class="container box-padding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h2 class="box-title">Porque doar?</h2>
                            <p class="box-text">Sobre o app: O aplicativo Doe+ tem como objetivo ajudar pessoas e instituições que são impactadas pelo baixo estoque de sanque disponível. Trazendo toda a informação necessária e possibilitando que qualquer pessoa possa se cadastrar tanto o doador, como a pessoa que necessita de doação.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                            <img src="assets/dist/img/img-sobre.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="row info text-center">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="assets/dist/img/dados-1.png" class="img-fluid" />
                            <p>Apenas <span>1,8%</span> da população brasileira doa sangue.</p>
                            <br/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="assets/dist/img/dados-2.png" class="img-fluid" />
                            <p><span>3%</span> a <span>5%</span> da população é a taxa recomendada pela OMS (Organização Mundial da Saúde).</p>
                            <br/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img src="assets/dist/img/dados-3.png" class="img-fluid" />
                            <p>Mais de <span>1 bilhão</span> foi investido pelo Ministério da Saúde na rede de sangue e hemoderivados.</p>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<% include ../partials/footer %>
