<% include ../partials/head %>

    <nav id="navbar" class="navbar fixed-top navbar-dark bg-danger navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/dist/img/logo.png" class="logo img-fluid" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#intro">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#statistics">Estatísticas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#stores">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header id="intro" class="bg-header">
        <div class="container">
            <div class="valign-wrapper">
                <div class="intro">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="animated fadeInLeft">
                                <h1 class="intro-title">Lorem ipsum dolor sit amet</h1>
                                <p class="intro-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                                <a href="index.html" class="btn btn-lg btn-outline-light intro-btn float-right">Saiba mais</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                            <img src="assets/dist/img/device-mockup.png" class="img-fluid intro-device-mockup animated fadeInRight" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="statistics" class="box box-statistics">
            <div class="valign-wrapper">
                <div class="container">
                    <h2 class="box-title">O cenário atual</h2>
                    <p class="box-text">
                        O Brasil precisa de <strong>4,15 milhões de doadores de sangue</strong><br/>
                        nas redes privada e pública para esse ideal ser alcançado.
                    </p>
                    <br/>
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="statistic">
                                <img src="assets/dist/img/01.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="statistic">
                                <img src="assets/dist/img/02.jpg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="statistic">
                                <img src="assets/dist/img/03.jpg" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="stores" class="box box-stores">
            <div class="valign-wrapper">
                <div class="container">
                    <h2 class="box-title">Lorem ipsum dolor sit amet</h2>
                    <p class="box-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="assets/dist/img/google-play-badge.svg" class="img-fluid" alt=""></a>
                        <a class="badge-link" href="#"><img src="assets/dist/img/app-store-badge.svg" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
    </main>

<% include ../partials/footer %>