<%- include('../partials/head', { page: 'contact' }) %>

<main>
    <section id="how-to" class="box box-internal">
        <div class="valign-wrapper">
            <div class="container">
                <div class="box-padding">
                    <h2 class="box-title text-center animated fadeInDown">Entre em contato conosco!</h2>
                    <form id="contact-form" class="contact-form animated fadeInUp" method="POST" action="/contact"
                        autocomplete="off">
                        <div class="errors"></div>

                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Digite seu nome"
                                autocomplete="off" required />
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Digite seu email"
                                autocomplete="off" required />
                        </div>

                        <div class="form-group">
                            <label for="subject">Assunto</label>
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="Digite o assunto"
                                autocomplete="off" required />
                        </div>

                        <div class="form-group">
                            <label for="message">Mensagem</label>
                            <textarea rows="2" type="text" name="message" class="form-control" id="message" placeholder="Digite o assunto"
                                required></textarea>
                        </div>

                        <div class="form-group form-check">
                            <input name="opt_in" type="checkbox" checked="true" class="form-check-input" id="opt_in">
                            <label class="form-check-label" for="opt_in">Aceito receber informações do site e de
                                parceiros.</label>
                        </div>
                        <button type="submit" class="btn btn-block btn-danger">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<% include ../partials/footer %>