<% include ../partials/head %>

    <main>
        <section id="how-to" class="box box-how-to">
            <div class="valign-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="animated fadeInLeft">
                                <h2 class="box-title">Obrigado!</h2>
                                <p class="box-text">Seus dados foram enviados com sucesso, em breve entraremos em contato.</p>
                                <img src="assets/dist/img/btn-download.png" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                            <img src="assets/dist/img/img-sobre.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<% include ../partials/footer %>
