<% include ../partials/head %>

    <main>
        <section id="how-to" class="box box-how-to">
            <div class="valign-wrapper">
                <div class="container">
                    <h2 class="box-title text-center">Como consigo doar?</h2>
                    <br/><br/><br/>
                    <div class="row text-center">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <br/>
                            <img src="assets/dist/img/icon-1.png" class="img-fluid" />
                            <p>Veja as campanhas<br/>por geolocalização</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <br/>
                            <img src="assets/dist/img/icon-2.png" class="img-fluid" />
                            <p>Veja quem<br/>precisa de ajuda</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <br/>
                            <img src="assets/dist/img/icon-3.png" class="img-fluid" />
                            <p>Agende<br/>sua visita</p>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <br/>
                            <img src="assets/dist/img/icon-4.png" class="img-fluid" />
                            <p>Realize a doação<br/><small>*Ganhe horas no trabalho ou descontos especiais</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

<% include ../partials/footer %>
