			<footer>
				<div class="container">
					<h2>Faça o download do aplicativo e comece agora mesmo a fazer a diferença</h2>
					<br/><br/>
					<img src="assets/dist/img/btn-download.png" class="img-fluid" />
				</div>
			</footer>
		</div>

		<script src="/assets/dist/js/jquery.slim.min.js"></script>
		<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/assets/dist/js/scripts.min.js"></script>
	</body>
</html>
