<footer>
	<div class="container">
		<h2>Faça o download do aplicativo e comece agora mesmo a fazer a diferença</h2>
		<br /><br />
		<img src="assets/dist/img/btn-download.png" class="img-fluid" />
		<br /><br /><br /><br />
		<p><a href="/privacy-policy">Política de Privacidade</a></p>
	</div>
</footer>
</div>

<script type="text/javascript" src="/assets/dist/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/dist/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/dist/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/assets/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/dist/js/scripts.min.js"></script>
</body>

</html>