<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/dist/css/style.css" />

		<title>Doe+</title>
	</head>
	<body>
		<div id="wrapper">